/*----------------------------images-------------------------*/
#menu a{
	color: #fff;
	font-size: 1.6em;
}
#menu a:hover{
	color: #1C1C1C;
}
.navbar-header{
	/*background-color: #ABE560;*/
}
#my-navbar{
	background-color: #ABE560;
}
.image-holder{
	margin-top: 10%;
}
.image-holder img{

}
p.title{
	font-family: 'Roboto', sans-serif;
	color: #626262;
	margin:1%;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
.details{
	color: #666666;
	text-align: justify;
}
.link a{
	color: #ABE560;
}
.link a:hover{
	color: #1C1C1C;
}
hr.style {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*----------------------------testimonial-------------------------*/
.heading{
	text-align: center;
	color: #626262;
	margin: 0;
}
h3{
	font-family: 'Raleway', sans-serif;
}
.by-name{
	font-family: 'Lora', serif;
	color: #666666;
	font-weight: 150;
	text-align: right;
	font-style: italic;
}

/*----------------------------gallery-------------------------*/
.img-tag {
	margin: 1.5%;
	font-size: 1.2em;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Roboto', sans-serif;
}
.img-tag a{
	color: #626262;
}
/*----------------------------footer-------------------------*/
.footer{
	height: 30%;
	margin-top: 3%;
	background-color: #AAAAAA;
}
.lines{
	padding-top: 1%;
}
.lines p{
	color: #444444;
	padding: 1%;
}
ul.list{
	list-style-type: none;

}
.list ul li{

}

















